
.error {
    margin-top: 1%;
    color: red;
}

.btn-new-user{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 120%;
}

#info {
    margin-bottom: 1%;
    font-style: oblique;
    color: darkgray;
}