<h1 class="pageTitle">Bienvenido {{name}}</h1>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{task.name}} </td>
      </ng-container>
  
      <!-- open date Column -->
      <ng-container matColumnDef="openDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de apertura</th>
        <td mat-cell *matCellDef="let element"> {{task.openDate}} </td>
      </ng-container>
  
      <!-- num of exercises Column -->
      <ng-container matColumnDef="numExercises">
        <th mat-header-cell *matHeaderCellDef>nº ejercicios</th>
        <td mat-cell *matCellDef="let element"> {{task.exercises.lenght}} </td>
      </ng-container>
   
      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element"> {{task.description}} </td>
      </ng-container>

        <!-- button Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element"> BOTON </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>