<mat-radio-group aria-label="Select an option" [(ngModel)]="numSelectedLayout">
    <h2>Selección de layout</h2>
    <mat-radio-button value="1">Simple</mat-radio-button>
    <mat-radio-button value="2">Doble</mat-radio-button>
    <mat-radio-button value="3">Triple</mat-radio-button>
    <mat-radio-button value="6">2x3</mat-radio-button>
</mat-radio-group>
<div>
  <button mat-button color="primary" (click)="makeInputs()">Siguiente</button>
</div>
<h2>Añadir imagen</h2>
<div *ngFor ="let element of numInputForImage">
  <label>{{element}}</label>
  <img [src]="url" height="200" *ngIf="url"> 
  <input type="file" accept="image/jpeg" (change)="onSelectFile($event)">
</div>
<div>
  <button mat-button color="primary">Atrás</button>
  <button mat-button color="primary">Siguiente</button>
</div>
<h2>Proceso de conexionado</h2>
<div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlexFill fxLayoutAlign="center center">
      <div fxLayoutAlign="center center">
          <mat-slide-toggle (click)="addNode()">Modo añadir punto</mat-slide-toggle>
      </div>
      <div fxLayoutAlign="center center">
          <mat-slide-toggle (click)="addEdge()">Modo añadir conexión</mat-slide-toggle>
      </div>
    </div>
    <div #networkContainer></div>
</div>
<div>
  <button mat-button color="primary">Atrás</button>
  <button mat-button color="primary">Confirmar</button>
</div>