
<div class="step1" fxLayout="column" fxLayoutAlign="start center" *ngIf="visibleStepOne">
  <h1>Selección de layout</h1>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="numSelectedLayout">
      <mat-radio-button value="1">Simple</mat-radio-button>
      <mat-radio-button value="2">Doble</mat-radio-button>
      <mat-radio-button value="3">Triple</mat-radio-button>
      <mat-radio-button value="6">2x3</mat-radio-button>
  </mat-radio-group>
  <div>
    <button mat-button color="primary" (click)="nextStepTwo()">Siguiente</button>
  </div>
</div>

<div class="step2" fxLayout="column" fxLayoutAlign="start center" *ngIf="visibleStepTwo"> 
  <h1>Añadir imagen</h1>
  <div *ngFor ="let element of numInputForImage">
    <label>{{element}}</label>
    <img [src]="url" height="200" *ngIf="url"> 
    <input type="file" accept="image/jpeg" (change)="onSelectFile($event)">
  </div>
  <div>
    <button mat-button color="primary" (click)="backStepOne()">Atrás</button>
    <button mat-button color="primary" (click)="nextStepThree()">Siguiente</button>
  </div>
</div>

<div class="step3" fxLayout="column" fxLayoutAlign="start center" *ngIf="visibleStepThree">
<h1>Proceso de conexionado</h1>
<div>
<span [cpToggle]="true" [cpDialogDisplay]="'inline'"[(colorPicker)]="color" [cpDisableInput]="false"
(colorPickerChange)="changePointColor(color)"></span>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="addPointMode" (click)="addPointMode()">Puntos</mat-button-toggle>
    <mat-button-toggle value="addConnectionMode" (click)="addConnectionMode()">Conexiones</mat-button-toggle>
    <mat-button-toggle value="removeMode" >Borrar</mat-button-toggle>
    <mat-button-toggle value="selectionMode" >Selección</mat-button-toggle>
  </mat-button-toggle-group>
  <div #networkContainer></div>
</div>
<div>
  <button mat-button color="primary" (click)="backStepTwo()">Atrás</button>
  <button mat-button color="primary" (click)="exerciseDone()">Confirmar</button>
</div>
</div>

