.network {
    border:1px solid black;
}

.buttons {
    margin-bottom: 1%;
    font-size: 70%;
}
.campo {
    font-size: 50%;
}

#top-from-field {
    margin-top: 7%;
}

.label-campo {
    font-size: 50%;
}

.label-option {
    margin-top: 6%;
}

mat-slider {
    width: 100%;
  }