<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="card">
        <mat-card-title class="title">Iniciar sesión</mat-card-title>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <mat-card-content fxLayout="column">
                <div>
                    <mat-icon color="primary" class="icon">account_circle</mat-icon>
                </div>
                <mat-form-field class="input-login">
                    <input matInput placeholder="Nombre de usuario" formControlName="username" required
                    [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.get('username').errors?.required">
                            El nombre de usuario es <strong>obligatorio</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="input-login">
                    <input matInput placeholder="Contraseña" formControlName="password" required type="password"
                    [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.get('password').errors?.required">
                            La contraseña es <strong>obligatoria</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <div *ngIf="error" class="incorrect-cred">{{error}}</div>
            <div fxLayout="column">
                <button mat-raised-button type="submit" color="primary" class="bnt-access">Acceder</button>
            </div>
        </form>
    </mat-card>

</div>