<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="card">
        <mat-card-title class="title">Iniciar sesión</mat-card-title>
        <form (submit)="login()">
            <mat-card-content fxLayout="column">
                <div>
                    <mat-icon color="primary" class="icon">account_circle</mat-icon>
                </div>
                <mat-form-field>
                    <input matInput placeholder="Nombre de usuario" [(ngModel)]="username" name="username" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" [(ngModel)]="password"type="password" name="password" required>
                </mat-form-field>
            </mat-card-content>
            <div fxLayout="column">
                <button mat-raised-button type="submit" color="primary" class="bnt-access">Acceder</button>
            </div>
        </form>
    </mat-card>
</div>