<div class="content">
    <h1 class="pageTitle">Cargar usuarios</h1>
    <mat-divider></mat-divider>
    <h2>Selecciona un fichero para la carga de usuarios</h2>
    <div fxLayout="column">
      <label>Admite ficheros en formato csv de la forma:</label>
      <p class="explanation">nombre-de-usuario;contraseña;nombre;apellidos;rol</p>
      <label>Los roles permitidos son ROLE_STUDENT o ROLE_TEACHER</label>
      <label id="active">** Los usuarios creados tendrán asociado el estado ACTIVO</label>
      <div class="input-csv">
        <input #myInput type="file" accept=".csv" (change)="onSelectFile($event)">
      </div>
      <div class="error">
        <div *ngFor="let error of errorMessage">{{error}}</div>
      </div>
    </div>
</div>