<div class="content">
  <h1 class="pageTitle">{{titlePage}}</h1>
  <mat-divider></mat-divider>
 
  <form (ngSubmit)="applyUser()" [formGroup]="userForm">
    <div fxLayout="column" class="content-form">
      <h2>{{title}}</h2>
      <mat-form-field>
        <input matInput placeholder="Nombre de usuario" #maxLengthUserName maxlength="25"
        [errorStateMatcher]="matcher" formControlName="username" required>
        <mat-error *ngIf="userForm.get('username').errors?.required">
            El nombre de usuario es <strong>obligatorio</strong>
        </mat-error>
        <mat-hint align="end">{{maxLengthUserName.value.length}} / 25</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contraseña" #maxLengthPassword maxlength="25"
        [errorStateMatcher]="matcher" formControlName="password" required>
        <mat-error *ngIf="userForm.get('password').errors?.required">
            La contraseña es <strong>obligatoria</strong>
        </mat-error>
        <mat-hint align="end">{{maxLengthPassword.value.length}} / 25</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre" #maxLengthName maxlength="25"
        [errorStateMatcher]="matcher" formControlName="name" required>
        <mat-error *ngIf="userForm.get('name').errors?.required">
            E nombre es <strong>obligatorio</strong>
        </mat-error>
        <mat-hint align="end">{{maxLengthName.value.length}} / 25</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Apellidos" #maxLengthSurName maxlength="40"
        [errorStateMatcher]="matcher" formControlName="surname" required>
        <mat-error *ngIf="userForm.get('surname').errors?.required">
            Los apellidos son <strong>obligatorios</strong>
        </mat-error>
        <mat-hint align="end">{{maxLengthSurName.value.length}} / 40</mat-hint>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let st of status" [value]="st">
              {{st}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('status').errors?.required">
              El estado es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let rol of roles" [value]="rol">
            {{rol}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('role').errors?.required">
            El rol es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <div *ngIf="repeatedUserError" id="error-username">* El nombre de usuario ya existe</div>
      <div *ngIf="blankSpace" id="error-username">* Hay espacios en blanco en el formulario</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center"  class="confirm">
      <button mat-stroked-button color="primary" type="submit" id="create-task">
        {{btnText}}
      </button>
    </div>
  </form>
</div>