/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0%;
}

.content {
    margin-left: 4%;
    margin-right: 4%;
}

.pageTitle {
    text-align: start;
    font-size: 180%;
}

table {
    width: 100%;
    table-layout: fixed;
}

.confirm {
    margin-top: 1%;
}

th, td {
    overflow: hidden;
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

  
mat-toolbar{
  height: 7vh;
}

.div-navbar {
  overflow: inherit;
}

.a-navbar {
  text-decoration: none;
  white-space: normal;
  font-size: 100%;
}

.spacer-navbar {
  flex: 1 1 auto;
}

.container-navbar {
  min-height:10vh;
  max-height:17vh;
}

.title-navbar {
  font-size: 150% !important;
}

.divider-dialog {
  width:5px;
  height:auto;
  display:inline-block;
}

.mat-tooltip {
  font-size: 120%;
}
