<div> 
        <mat-toolbar color="primary" class="container">
        <a mat-button class="title" routerLink="/teacher">
        <span>Simulación de conexionado</span>
        </a>
        <span class="spacer"></span>
                <div>
                        <a mat-button [matMenuTriggerFor]="lengMenu" >
                                <mat-menu #lengMenu="matMenu" xPosition="after" color="primary">
                                        <button mat-menu-item routerLink="/url">Enviadas</button>
                                        <button mat-menu-item routerLink="task/new">Nueva</button>
                                </mat-menu>
                                <mat-icon  class="icon">school</mat-icon> Tareas
                        </a>
                        <a mat-button routerLink="/url">
                                <mat-icon class="icon">storage</mat-icon> Repositorio
                        </a>
                        <a mat-button (click)="logout()">
                                <mat-icon  class="icon">person</mat-icon> Cerrar sesión
                        </a>
                </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
</div>
    